.content {
  padding-top: 15vh;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("https://themewagon.github.io/medicalcenter/assets/img/hero/hero2.png");
}


.register-form {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  width: 700px;
  height: 68vh;
  max-height: 100vh;
  margin-top: 20px;
  background-color: white;
}

h2{
  font-size: 25px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 30px;
}

.form-row {
  width: 85%;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 15px;
  margin-bottom: 15px;
}


input,  select {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}


button {
  margin-top: 20px;
  background: #009DFF;
  height: 44px;
  width: 180px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

button:hover {
  background: transparent;
  color: #009DFF;
  border: 1px solid #009DFF;
  transition: all 0.3s ease;
}

@media (max-width: 900px) {
  .register-form {
    width: 80%;
  }
}

@media (max-width: 600px) {

  h2{
    margin-top: 30px;
    margin-bottom: 20px;
  }
 
  .register-form {
    width: 90%;
    height: 95vh;
  }

  input, select{
    padding: 10px;
  }

  .form-row {
    width: 88%;
    flex-direction: column;
  }
  .content {
    padding-top: 10vh;
    height: 120vh;
  }
  button {
  margin-top: 10px;
  }
}