.appointment-page {
  background-image: url("https://themewagon.github.io/medicalcenter/assets/img/hero/hero2.png");
  height:88vh;
  padding-top: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
  
  .appointment-container {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 68%;
    max-height: 75%;
    max-width: 500px;
  }
  
  #appointment-heading {
    font-size: 24px;
    font-weight: bold;
    margin-top:30px;
    text-align: center;
  }
  
  .appointment-form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0 10px;
  
  }
  
  .input-div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .input-divs {
    width: 100%;

  }

  .input-divs select {
    padding: 0px 0px;
    background-color: white;
  }

  .appointment-input option{
    padding: 0px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
  }

  .appointment-input option[disabled][hidden] {
    color: #999;
  }

  .input-divs textarea {
    height: 70px;
  }
  
  .appointment-input {
    width: 100%;
  height: 35px;
  border: 1px solid #ddd;
  padding: 0;
  
  }
  
  .appointment-input:focus {
    outline: none;
    border-color: #3f51b5;
  }
  
 
  button {
    margin-top: 5px;
    margin-bottom: 20px;
    padding:5px 14px;
    height: 45px;
    background-color: #42b7ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s all;
  }
  button:disabled{
    background-color: #cccccc; /* Light gray */
    color: #666666;
  }
  button:hover:disabled{
    background-color: #cccccc; /* Light gray */
  color: #666666;
  }
  button:hover {
    background-color: #0ea2ff;
  }
  
  @media (max-width: 800px) {
    .appointment-form {
    gap: 1rem;
    }
    .appointment-container {
      height: 60%;
    }
  }
  @media (max-width: 500px) {
    .appointment-page {
      height:88vh;
      padding-top: 10vh;
    }
    .appointment-container {
      padding: 15px;
      width: 82%;
      max-height: 75%;
    }
    
  }