.content {
    padding-top: 15vh;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("https://themewagon.github.io/medicalcenter/assets/img/hero/hero2.png");
}

.profile-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    width: 45%;
    height: 65vh;
    margin-top: 20px;
    background-color: white;

}

.update-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    min-height: 70%;
    max-height: 80%;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

#update{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 40px;
    letter-spacing: 1.5px;   
}

.update-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.input-row{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

  
  input , select{
    width: 100%;
    margin-top: 20px;
    padding: 5px 10px;
    border: 2px solid #e4e4e4;
    border-radius: 5px;
    height: 40px;
    color: #232323;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2.5px;
  }

  select{
    width: 100%;
    background-color: white;
    height: 50px;
  }

  .buttons{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  

#name {
    margin-top: 30px;
    font-size: 35px;
    font-weight: 600;
    color: rgb(92, 92, 92);
}

#addressN {
    margin-top: 3px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(134, 134, 134);
}

.div1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    color: rgb(134, 134, 134);
    gap: 5px;
}

.account-logo {
    height: 140px;
    margin-top: -50%;
}

button {
    margin-top: 20px;
    background: #009DFF;
    height: 44px;
    width: 180px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

button:hover {
    background: transparent;
    color: #009DFF;
    border: 1px solid #009DFF;
    transition: all 0.3s ease;
}



@media (max-width: 1200px) {
    .profile-card {
        width: 60%;
    }
    .update-card{
        width: 60%;
    }
}

@media (max-width: 800px) {
    .profile-card {
        width: 80%;
        height: 60vh;
    }
    .update-card{
        width: 80%;
    }
    .account-logo {
        height: 120px;
    }
    .buttons{
        width: 80%;
    }
}

@media (max-width: 500px) {
    .content {
        padding-top: 10vh;
        height: 90vh;
    }
    .profile-card {
        padding: 0 5%;
        height: 55vh;
    }

    .account-logo {
        height: 100px;
    }
    .update-card{
        width: 90%;
        min-height: 80%;
        max-height: 90%;

    }
    .input-row{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
  
      input , select{
        width: 100%;
        margin-top: 8px;
        padding: 1px 10px;
        border: 2px solid #e4e4e4;
        border-radius: 5px;
        height: 40px;
        color: #232323;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 2.5px;
      }
    
      select{
        width: 100%;
        background-color: white;
        height: 40px;
      }

      .buttons{
    margin-top: 5px;  
    width: 70%;
    }
}