.content {
    padding-top: 15vh;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-image: url("https://themewagon.github.io/medicalcenter/assets/img/hero/hero2.png");
  }

  h2{
    font-size: 30px;
    font-weight: 700;
  }

  .appointments-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .table-container {
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  }

  ::ng-deep .mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell{
    background-color : white;
    color: black;
    border-bottom: 0.1px solid grey;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

 #buttons{
    margin-left: 10px;
 } 

  .statusBtn{
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  td {
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  @media (max-width: 900px) {

  

    .appointments-container{
        width: 100%;

    }

    .content{
      padding: 20vh 8%;
    }

    th, td {
      padding: 10px 8px;
    }
  
    th {
      font-size: 14px;
    }
  
    td {
      font-size: 13px;
    }
  }
  
  @media (max-width: 600px) {
    .content {
      padding-top: 20vh;
      height: 60vh;
    }
    .appointments-container{
        margin-top: 10px;
    }
    .appointments-container h2{
      font-size: 25px;
    }
    .table-container{
      margin-top: 10px;
    }
  }