.content{

    padding: 20vh 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 6px;
    color: #102039;
    line-height: 1.2;
}

.doctor-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }
  
  .doctor-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .doctor-card:hover {
    transform: translateY(-10px);
  }
  
  .doctor-image img {
    width: 100%;
    height: auto;
  }
  
  .doctor-info {
    padding: 20px;
  }

 
  
  .doctor-info h2 {
    color: #161e46;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
  display: block;
  margin-left: 5px;
  }

  
  .doctor-info p {
    color: #a5a5a5;
  font-size: 14px;
  font-weight: 300;
  font-family: "Muli",sans-serif;
  display: block;
  margin-bottom: 10px;
  margin-left: 5px;
  }
  
  @media (max-width: 700px) {
    .content{
        padding: 7vh 8%;
    }
    .doctor-card {
      max-width: 100%;
    }
    #heading{
        font-size: 30px;
        font-weight: 500;
    }
    .doctor-cards-container {
    margin-top: 30px;
    }
  }
  