/* user-login.component.css */
.login-page {
  background-image: url("https://themewagon.github.io/medicalcenter/assets/img/hero/hero2.png");
    height:88vh;
    padding-top: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 420px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
  }
  
  #login{
    font-size: 30px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 40px;
    letter-spacing: 1.5px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
  }
  
  .input-div{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
   }
  
  .input-divs{
    display: flex;
    flex-direction: column;
   }
  
  input {
    padding: 5px 14px;
    border: 2px solid #e4e4e4;
    border-radius: 5px;
    height: 40px;
    color: #232323;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2.5px;
  }
  
  
  button {
    margin-top: 5px;
    padding:5px 14px;
    height: 45px;
    background-color: #42b7ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s all;
  }
  button:disabled{
    background-color: #cccccc; /* Light gray */
    color: #666666;
  }
  button:hover:disabled{
    background-color: #cccccc; /* Light gray */
  color: #666666;
  }
  button:hover {
    background-color: #0ea2ff;
  }
  
  #signup-link-div{
    margin-top:10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
  
  #signup-text{
  font-size: 15px;
  font-weight: 500;
  
  }
  
  #signup-link{
  font-size: 15px;
  font-weight: 500;
  color: orangered;
  margin-left: 10px;
  
  }
  
  
@media (max-width: 600px) {
  .login-page {
      height:82vh;
      padding-top: 8vh;
    }

  .login-container {
    width: 90%;
    height: 55%;
  }
}