.content {
    padding-top: 15vh;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("https://themewagon.github.io/medicalcenter/assets/img/hero/hero2.png");
}

.profile-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    width: 35%;
    height: 50vh;
    margin-top: 20px;
    background-color: white;

}

  .buttons{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  

#name {
    margin-top: 30px;
    font-size: 35px;
    font-weight: 600;
    color: rgb(92, 92, 92);
}

#position {
    margin-top: 3px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(134, 134, 134);
}

.div1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    color: rgb(134, 134, 134);
    gap: 5px;
}

.account-logo {
    height: 120px;
    margin-top: -50%;
}

button {
    margin-top: 20px;
    background: #009DFF;
    height: 44px;
    width: 180px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

button:hover {
    background: transparent;
    color: #009DFF;
    border: 1px solid #009DFF;
    transition: all 0.3s ease;
}



@media (max-width: 1200px) {
    .profile-card {
        width: 55%;
        height: 45vh;
    }
   
}

@media (max-width: 800px) {
    .profile-card {
        width: 65%;
        height: 43vh;
    }
    
    .account-logo {
        height: 120px;
    }
    .buttons{
        width: 80%;
    }
}

@media (max-width: 500px) {
    .content {
        padding-top: 10vh;
        height: 90vh;
    }
    .profile-card {
        padding: 0 5%;
        width: 70%;
        height: 44vh;
    }

    .account-logo {
        height: 100px;
    }
 
      .buttons{
    margin-top: 5px;  
    width: 70%;
    }
}