/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: sans-serif;
    line-height: 1.15; }
.pageTitle{
    background-image: url("https://themewagon.github.io/medicalcenter/assets/img/hero/hero2.png");
    height: 70vh;
    padding-top: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pageTitle p{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 6px;
    color: #102039;
    line-height: 1.2;
}

@media (max-width: 1000px) {
    .pageTitle{
        height: 40vh;
    }
}

@media (max-width: 700px) {
    .pageTitle{
        height: 28vh;
    }
    .pageTitle p{
        font-size: 30px;

    }
}

.flexColumn{
    display: flex;
  flex-direction: row;
}