<footer>
    <div id="bottom-nav">
        <div class="footer-links">
            <span class="navbar-title">
                <p id="title1">Health</p>
                <p id="title2">Care</p>
            </span>

            <div id="icons-div">
                <a href="https://www.linkedin.com/in/pritesh-patil-57267b2a3/">
                    <div class="icons linkedin">
                        <i class="icon fa fa-linkedin-square"></i>
                    </div>
                </a>
                <a href="https://github.com/Pritesh2004">
                    <div class="icons github">
                        <i class="icon fa fa-github"></i>
                    </div>
                </a>
                <div routerLink="/contact" class="icons mail">
                    <i class="icon fa fa-envelope"></i>
                </div>
            </div>
        </div>
        <div class="footer-about">
            <p>About Us</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas suscipit nemo voluptatum quae animi excepturi commodi omnis modi in eligendi?</p>
        </div>


    </div>
</footer>